@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0px;
    border: 0;
}

/* THIS IS RELATED TO THE MENU */
body {
    font-family: 'Roboto', sans-serif;
    color: #195190FF;
}


h1 {
  font-family: 'Domine', serif;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid white;
}

h2 {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey;
}

#logo { 
    float: left;
    padding-left: 5%;
    font-size: 220%;
}

#menu {
    font-family: 'Domine', serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #195190FF;
}

#menu a:hover {
    border-bottom: 1px solid  #195190FF
}

.active { 
    border-bottom: 1px solid  #195190FF; 
}

/* THE BELOW IS RELATED TO THE HERO IMAGE */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(https://www.leitrimobserver.ie/upload/1508945566497.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, cover-text h3 {
    color: #ffffff;
}

#cover-text {
    font-size: 150%;
    font-family: 'Domine', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    vertical-align: middle;

    width: 300px;
    height: 200px;

    padding-top: 140px;
    padding-left: 10px;

    background-color: rgba(0, 102, 204, .5);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* THE BELOW IS RELATED TO THE ABOUT SECTION */

#aboutsectionstyle {
    padding: 50px;
    text-align: center;
    background-color: #195190FF;
    color: white;
}

#aboutsectionstyle p {
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

/* THE BELOW IS RELATED TO THE BUTTON IN THE ABOUT SECTION */

.button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: rgba(0, 102, 204, .5);
  color: #fafafa;
}

.button:hover {
  background-color: #fafafa;
  color: rgba(0, 102, 204, .5);
}

/* THE BELOW IS RELATED TO THE PRINCIPLES SECTION */

.column-wrapper {
    width: 90%;
    margin: 0 auto;
}
.main-col {
    background: url(https://lh3.googleusercontent.com/proxy/Lp9_lUEeExve5XYBph41GByG44IXIiyK6k4l5fbvaQ9IxfX2oROQXKOOcx8xdfgkRDH-zVLRMHJq0YpNHZ_CsVbi0eYkTMvuH9-B-31QnmQZAn0TclJEk6c73j07sf74HXrVP0mdm-4z5q4lrwm9) no-repeat center center;
    background-size: contain;
    float: left;
    width: 55%;
    height: 300px;
    padding: 20px 2.5%;
    margin-top: 20px;
}

.sidebar-col {
    float: right;
    width: 35%;
    height: 300px;
    padding: 20px 2.5%;
    margin-top: 5%;
    text-align: center;
}

.sidebar-col h1 {
    color: #195190FF;
    font-family: 'Domine', serif;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
}

.sidebar-col h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #195190FF;
}


@media screen and (max-width: 600px) {
.main-col {
    width: 100%;
}
.sidebar-col {
    float: left;
    width: 100%;
}
}

/* THE BELOW IS RELATED TO THE CONTACT US SECTION */

.form-section {
    clear: left;
    background: #195190FF;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
  margin-top: 100px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.signup-form > h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: grey;
}

.textarea {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 50px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.textarea:hover {
    border-color: grey;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #195190FF;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: #195190FF;
}

/* THE BELOW IS RELATED TO THE FOOTER */

footer {
    text-align: center;
    padding: 5px;
    background-color: white;
}

.social-heading {
    font-family: 'Domine', serif;
    font-weight: 300;
    margin-top: 2.5%;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.social {
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 160%;
  margin: 1%;
  padding: 2.5%;
  color: #195190FF;
}

.social li a i:hover {
    color: grey;
}

/* THE BELOW IS RELATED TO MOBILE RESPONSIVENESS */

@media screen and (max-width:943px){
  #menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text{
    left: 0px;
  }