@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0px;
    border: 0;
}

/* THIS IS RELATED TO THE MENU */

body {
    font-family: 'Roboto', sans-serif;
    color: #A2A2A1FF;
}

h2 {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey;
}

#logo { 
    float: left;
    font-size: 280%;
}

#menu {
    font-family: 'Domine', serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #195190FF;
}

#menu a:hover {
    border-bottom: 1px solid  #195190FF
}

.active { 
    border-bottom: 1px solid  #195190FF; 
}

/* THE ABOVE IS RELATED TO THE MENU */

/* THE BELOW IS RELATED TO THE HERO IMAGE */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(https://www.leitrimobserver.ie/upload/1508945566497.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Domine', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 140px;
    padding-left: 10px;

    background-color: rgba(0, 102, 204, .5);

    bottom: 30px;
    right: 150px;

    position: absolute;
}